body {
  margin: 0px;
  overflow: hidden;
}

.bar {
  fill: steelblue;
}

text {
  font-family: sans-serif;
  font-size: 2em;
}

.title {
  text-anchor: middle;
}

.axis-label {
  font-size: 2.5em;
  color: gray;
  text-anchor: middle;
}

.tick line {
  color: lightgray;
}